/* This is an example of using Sass, otherwise plain CSS works too*/
//$primary-background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);

html {
  height: 100%
}

body {
  background: #49B6FF;
}

header {
  background-color: #faf8f7;
  width: 100%;
  top: 0;
  position: absolute;
  left: 0;
  border-bottom: .5px solid #37323E;
}

.fas {
  font-size: 30px;
  padding-right: 10px;
  padding-left: 20px
}

.wanderlust-container {
  display: flex;
  align-items: center;
}

.trip-booking {
  margin-top: 100px;
}

/* ~~~~~~ Your Trips Section ~~~~~~~*/

.all-trips {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-row-gap: 10px;
  margin-left: 20px;
  height: 115vh;
}

.trip-container {
  display: flex;
  flex-direction: column;
  width: 23vw;
  height: 55vh;
  border: 1px solid #37323E;
  border-radius: 5px;
  box-shadow: 3px 3px 3px #37323E;
  background-color: #C3F3C0;
  opacity: 0.9;
}

.vacation-pic {
  align-self: center;
  width: 22vw;
  height: 20vh;
}
