/* This is an example of using Sass, otherwise plain CSS works too*/
//$primary-background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);

* {
  font-family: "Open Sans";
}

body {
  background: #49B6FF;
}

header {
  background-color: #FAF8F7;
  width: 100%;
  top: 0;
  position: absolute;
  left: 0;
  border-bottom: .5px solid #37323E;
}

.fas {
  font-size: 30px;
  padding-right: 10px;
  padding-left: 20px
}

.wanderlust-container {
  display: flex;
  align-items: center;
}

.trip-booking {
  margin-top: 100px;
}

.input-container {
  display:flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #37323E;
  width: 43vw;
  background-color: #FFFCE6;
  box-shadow: 3px 3px 3px #37323E;
}

.input-design {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 40vw;
  height: 3vh;
  font-size: 15px;
}

.submit-button {
  margin-bottom: 10px;
  padding: 5px 10px 5px 10px;
  font-size: 15px;
}

.scenery {
  margin-top: 50px;
  width: 60vw;
  height: 55vh;
}

.middle-container {
  display: flex;
  justify-content: space-between;
}

.hidden {
  display: none!important;
}

/* ~~~~~~ Your Trips Section ~~~~~~~*/
.h3-container {
  display: flex;
  justify-content: space-between;
}

.all-trips {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-row-gap: 10px;
  margin-left: 20px;
  height: 115vh;
}

.trip-container {
  display: flex;
  flex-direction: column;
  width: 23vw;
  height: 55vh;
  border: 1px solid #37323E;
  border-radius: 5px;
  box-shadow: 3px 3px 3px #37323E;
  background-color: #C3F3C0;
  opacity: 0.9;
}

.vacation-pic {
  align-self: center;
  width: 22vw;
  height: 20vh;
}

/* ~~~~~~ Login Page ~~~~~~~*/
.login-page {
  height: 100%;
  background-color: #49B6FF
}

.login-form {
  margin-left: 400px;
  margin-top: 100px;
  background-color: #FAF8F7;
  width: 40vw;
  height: 50vh;
  border-radius: 5px;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.login-input {
  width: 25vw;
  padding: 5px;
  margin: 10px;
  font-size: 15px;
}

.login-button {
  width: 5vw;
  margin: 10px;
  font-size: 15px;
}
