@import './_normalize.css';
@import './_variables';
@import './_mixins';

* {
  font-family: "Open Sans";
}

body {
  background-color: $sky-blue;
}

header {
  background-color: $white;
  width: 100%;
  top: 0;
  position: absolute;
  left: 0;
  border-bottom: .5px solid $black-coffee;
}

.fas {
  font-size: 30px;
  padding: 0 10px 0 20px;
}

.wanderlust-container {
  @include displayStyle(row, center);
}

.trip-booking {
  margin-top: 100px;
}

.input-container {
  @include displayStyle(column, center);
  @include boxStyle(#FFFCE6)
  width: 43vw;
}

.input-design {
  @include dimensions(3vh, 40vw);
  margin: 5px 0 5px 0;
  font-size: $size-15;
}

.submit-button {
  margin-bottom: 10px;
  padding: 5px 10px 5px 10px;
  font-size: $size-15;
}

.scenery {
  margin-top: 50px;
  @include dimensions(55vh, 60vw);
}

.middle-container {
  @include displayStyle(row, normal, space-between);
}

.hidden {
  display: none!important;
}

/* ~~~~~~ Your Trips Section ~~~~~~~*/
.h3-container {
  @include displayStyle(row, normal, space-between);
}

.all-trips {
  @include displayGrid();
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  @include dimensions(115vh, null, 10px);
}

.trip-container {
  @include displayStyle(column);
  @include dimensions(55vh, 23vw);
  @include boxStyle(#C3F3C0);
  opacity: 0.9;
  padding-left: 5px;
}

.vacation-pic {
  align-self: center;
  @include dimensions(20vh, 22vw);
}

/* ~~~~~~ Login Page ~~~~~~~*/
.login-page {
  height: 100%;
  background-color: $sky-blue;
}

.login-form {
  @include dimensions(50vh, 40vw, 400px);
  margin-top: 100px;
  background-color: $white;
  border-radius: 5px;
}

.login-container {
  @include displayStyle(column, center);
  padding-top: 20px;
}

.login-input {
  width: 25vw;
  padding: 5px;
  margin: 10px;
  font-size: $size-15;
}

.login-button {
  width: 5vw;
  margin: 10px;
  font-size: $size-15;
}

/* ~~~~~~ Media Queries ~~~~~~~*/
@media screen and (max-width: 768px) {
  .login-form {
    @include dimensions(null, 50vw, 200px);
  }

  .login-button {
    width: 10vw;
  }

  .input-design {
    width: 50vw;
  }

  .input-container {
    width: 55vw;
  }

  .scenery {
    width: 43vw;
  }

  .h3-container {
    @include displayStyle(column);
  }

  .all-trips {
    margin-left: 0;
    @include displayGrid(repeat(3, 1fr), repeat(3, 1fr));
  }

  .trip-container {
    @include dimensions(65vh, 30.5vw);
  }

  .vacation-pic {
    width: 29vw;
  }
}

@media screen and (max-width: 425px) {
  .login-form {
    @include dimensions(null, 80vw, 40px);
  }

  .login-input {
    width: 60vw;
  }

  .login-button {
    width: 20vw;
  }

  .input-container {
    width: 95vw;
  }

  .input-design {
    @include dimensions(4.5vh, 75vw);
  }

  .scenery {
    display: none;
  }

  .all-trips {
    margin-left: 0;
    grid-column-gap: 3.5px;
  }

  .trip-container {
    height: 68vh;
  }
}

@media screen and (max-width: 375px) {
  .all-trips {
    margin-left: 0;
    @include displayGrid(repeat(2, 1fr), repeat(2, 1fr));
    grid-column-gap: 7px;
  }

  .trip-container {
    width: 45vw;
  }

  .vacation-pic {
    width: 43vw;
  }
}

@media screen and (max-width: 320px) {
  .login-form {
    @include dimensions(null, 85vw, 10px);
  }

  .input-container {
    @include dimensions(null, 89vw, 0);
  }

  .all-trips {
    margin-left: 0;
    grid-column-gap: 5px;
  }

  .trip-container {
    width: 43vw;
  }
}
